html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
:root{
    --background-color: #ffffff;
    --brand-color: #2F303A;
    --button-color: #2196F3;
    --text-color: #212121;
    --second-text: #757575;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
    background: var(--background-color);
   
}
.container{
    width: 1200px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.benefits-section ul,.work-section ul,.team-section ul,.portfolio-section ul{
    display: flex;
    justify-content: center;
}

/* header */
header{
    height: 80px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
header a,header ul,header nav, header div{
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    

}
.web{
        
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--button-color);
}
.studio-up{
    
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}

.studio:hover,.portfolio:hover,.contacts:hover,.mail:hover,.tel:hover,.map:hover,.mail-down:hover,.tel-down:hover,
.button-portfolio:hover{
    color: var(--button-color);
}
.studio:focus,.portfolio:focus,.contacts:focus,.mail:focus,.tel:focus,.map:focus,.mail-down:focus,.tel-down:focus,
.button-portfolio:focus {
    color: var(--button-color);}
.navigation,
.info{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.active{ --text-color:var(--button-color);}
.studio{
padding-right: 50px;
    color: var(--text-color);
}
.navigation{
    padding-left: 93px;
}
.info{
    padding-left: 331px;
}
.portfolio{
    padding-right: 50px;
    color: var(--text-color);
}
.contacts{
   
    color: var(--text-color);
}
.tel{
   padding-right: 50px;
    color: var(--second-text);
}
.mail{
   
    color: var(--second-text);
}
/* blue box */
.box-section div{
   padding-top: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.box-section{
    height: 600px;
    background: var(--brand-color);
    
}
.box-word{
    
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin:0;
    color: var(--background-color);
}

.button-box{
    width: 200px;
    height: 50px;
    margin-top: 27px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--background-color);
}
/* main */
.benefits-section h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin:50px auto;
    color: var(--text-color);
}
.benefits-section ul{
margin: 0 auto;
padding: 0;
}
.benefits-section li{
    margin:0 15px;
}
.detal{
   margin: 0 0 10px 0; 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--text-color);
}
.detal-op{
    margin: 0;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--second-text);
}
.work-section ul{
    margin: 0 auto;
    padding: 0;
}
.work-section li{
    padding: 0 15px;
}
.work-section h2{
        margin: 94px 0 50px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
.team-section{
    background: #F5F4FA;
    height: 648px;
    margin-top: 94px;
}
.team-section h2{
    padding-top: 94px;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
.team-section ul{
    padding: 0;
}



.team-section li{
    width: 270px;
    height: 368px;
    margin: 0 15px;
    background: var(--background-color);
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
.name-op{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--second-text);
}


/* portfolio */
.portfolio-section{
    padding: 0;
}
.portfolio-section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
    margin-top: 94px;
}

.button-portfolio button{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    /* identical to box height, or 162% */
    margin: auto 4px;
    text-align: center;
    letter-spacing: 0.03em;

    background: var(--background-color);
    border-radius: 4px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio button:hover{
    color: var(--background-color);
    background-color: var(--button-color);
}
.button-portfolio button:focus {
    color: var(--background-color);
    background-color: var(--button-color);
}
.button-portfolio{
    padding: 0 0 56px 0;
    margin: 0;
}
.net{
    display: flex;
    
    flex-wrap: wrap;
    

 margin-left: -30px;
 margin-top: -30px;
    padding: 0;
    list-style: none;
}
.net li{
    margin-left: 30px;
    margin-top: 30px;
      max-width: 370px;  
    flex-basis: calc((100% - 90px) / 3);
    background: var(--background-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    }
    
   

.name-box{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    color: var(--text-color);
}
.name-op-box{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    color: var(--second-text);
}
footer{
    height: 252px;
    background-color: var(--brand-color);
}
.container div{
  padding-top: 60px;  
}
.web-down{
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--button-color);
}
.studio-down{
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--background-color);
}
address{
    padding-top: 20px;
}
address ul{
    padding: 0;
}
.map{
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: var(--background-color);
}
.mail-down,.tel-down{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}